*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body{
	background-image: url(plane.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.title{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);	
}
.title h1{
	color: #fff;
	font-size: 70px;
}
